.add-product-page {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.add-product-form {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,.12);
}

.add-product-form h1 {
  text-align: center;
  margin-bottom: 25px;
}

.add-product-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.add-product-form button {
  width: 100%;
  padding: 14px;
  background: #4b2e2e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.add-product-form button:hover {
  background: #b35c00;
}