.hero {

  background: linear-gradient(135deg,#ff7e5f,#feb47b);

  color:white;

  padding:60px 20px;

  text-align:center;

  margin:20px;

  border-radius:15px;

}


.hero h1 {

  font-size:40px;

}


.hero p {

  font-size:18px;

  margin-top:10px;

}




.bags-page {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}

.cart-count {

  text-align:right;

  color:#4b2e2e;

}



.title {

  text-align:center;

  color:#4b2e2e;

  margin-top:20px;

}



.description {

  text-align:center;

  color:gray;

}



.search-box {

  display:block;

  margin:25px auto;

  width:350px;

  padding:12px;

  font-size:16px;

  border-radius:8px;

  border:1px solid #ccc;

}



.category-buttons {

  text-align:center;

  margin-bottom:30px;

}



.category-buttons button {

  margin:5px;

  padding:10px 20px;

  border:none;

  border-radius:25px;

  background:#4b2e2e;

  color:white;

  cursor:pointer;

}



.category-buttons button:hover {

  background:#b35c00;

}



.bags-container {

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:30px;

  justify-items:center;

}



/* Tablet */

@media(max-width:1024px){

.bags-container{

grid-template-columns:repeat(2,1fr);

}

}



/* Mobile */

@media(max-width:600px){

.product-card {
  width: 100%;
  max-width: 280px;
}

.hero h1{

font-size:28px;

}


.search-box{

width:90%;

}


.bags-container{

grid-template-columns:1fr;

}

}