.movie-card{

    background:#1d1d1d;

    border-radius:15px;

    overflow:hidden;

    transition:.3s;

}

.movie-card:hover{

    transform:translateY(-10px);

}

.movie-card img{

    width:100%;

    height:320px;

    object-fit:cover;

}

.movie-info{

    padding:20px;

}

.movie-info h3{

    margin-bottom:10px;

}

.movie-info p{

    margin:8px 0;

    color:#ccc;

}

.movie-info button{

    width:100%;

    margin-top:15px;

    padding:12px;

    background:#E50914;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

}

.movie-info button:hover{

    background:#ff2d55;

}