.checkout{
    display:flex;
    justify-content:center;
    gap:50px;
    padding:60px;
    background:#fff8f0;
    min-height:100vh;
}

.checkout-left,
.checkout-right{
    width:45%;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.checkout h2{
    margin-bottom:25px;
    color:#d62828;
}

.checkout input,
.checkout textarea{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.summary-item{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.checkout button{
    width:100%;
    padding:15px;
    background:#d62828;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    margin-top:25px;
}

.checkout button:hover{
    background:#b71c1c;
}
.order-success{
    margin-top:20px;
    padding:25px;
    background:#ecfff0;
    border:2px solid #28a745;
    border-radius:10px;
    text-align:center;
}

.order-success h2{
    color:#28a745;
    margin-bottom:10px;
}

.order-success p{
    font-size:18px;
    color:#444;
}