.movie-card {
  background: #1d1d1d;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(229, 9, 20, 0.4);
}

.movie-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.movie-info {
  padding: 20px;
}

.movie-info h3 {
  margin-bottom: 15px;
  font-size: 22px;
  color: white;
}

.movie-info p {
  margin: 8px 0;
  color: #cccccc;
  font-size: 15px;
}

.movie-info button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.movie-info button:hover {
  background: #ff2d55;
}