.menu-page{
    width:90%;
    margin:auto;
    padding:40px 0;
}

.menu-heading{
    text-align:center;
    color:#d62828;
    font-size:45px;
    margin-bottom:40px;
}

.category-buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:18px;
    margin-bottom:50px;
}

.category-buttons button{
    padding:14px 28px;
    border:none;
    border-radius:50px;
    background:#fff2ef;
    color:#d62828;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.category-buttons button:hover{
    background:#d62828;
    color:white;
    transform:translateY(-3px);
}

.active-category{
    background:#d62828 !important;
    color:white !important;
}

.menu-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap:30px;
}